.content {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.content__container {

    @include tablets {
        width: 99%;
    }

    @include phones {
        width: 95%;
    }
}

.content-title {
    font-size: rem(48px);
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: rem(50px);
    text-align: center;
    line-height: 108%;

    @include phones {
        font-size: rem(32px);
        line-height: rem(36px);
    }
}

.header__content-title {
    margin-bottom: rem(18px);

    @include tablets {
        margin-bottom: 0.7rem;
    }
}

.content__subtitle {
    color: $grey;
    text-align: center;
    padding: 0 20%;
    margin-bottom: rem(62px);
    line-height: rem(19px);

    @include tablets {
        padding: 0 11%;
        margin-bottom: rem(52px);
    }

    @include phones {
        padding: 0 6%;
    }
}