.menu {
    position: fixed;
    top: rem(245px);
    right: rem(45px);

    @include tablets {
        display: none;
    }
}

.menu__item {
    margin-bottom: rem(12px);

    &-active {
        .menu__link {
            border-color: $red;
            
            &:before {
            background: $red;
            }
        }
    }
}

.menu__link {
    width: rem(20px);
    height: rem(20px);
    border-radius: 50%;
    border: rem(1px) solid transparent;
    display: block;
    position: relative;

    &::before {
        content: url();
        display: block;
        width: rem(10px);
        height: rem(10px);
        border-radius: 50%;
        background: $light-black;
        opacity: 0.6;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}