.form {
    display: flex;

    @include tablets {
        flex-direction: column;
        max-width: rem(466px);
        margin: 0 auto;
    }

    @include phones {
        padding: 0;
    }
}

.form__col {
    flex: 1;
    margin-right: rem(20px);

    @include phones {
        margin-right: 0;
    }

    &:last-child {
        margin-right: 0;
    }
}

.form__row {
    display: flex;
    margin-bottom: rem(11px);

    &-textarea {
        margin-bottom: rem(40px);

        @include tablets {
            margin-bottom: rem(28px);
        }

        @include phones {
            margin-bottom: rem(32px);
        }
    }
}

.form__block {
    flex: 1;
    margin-right: rem(20px);

    &:last-child {
        margin-right: 0;
    }
}

.form__title {
    @include tablets {
        line-height: 1.5;
    }
}

.form__input {
    width: 100%;
    border: rem(3px) solid transparent;
    border-radius: rem(3px);
    padding: rem(18px) rem(12px);

    &:focus {
        border-color: #E01F3D;
        outline: none;
    }

    @include tablets {
        padding: rem(7px) rem(14px);
    }
}

.input__error {
    border-radius: rem(3px);
    border-color: #E01F3D;
}

.form__input-textarea {
    height: rem(152px);
    resize: none;
    display: block;

    @include tablets {
        height: rem(82px);
    }
}

.form__controls {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: rem(21px);

    &-margin-bottom__increase {
        margin-bottom: rem(45px);

        @include phones {
            margin-bottom: rem(38px);
        }
    }

    @include phones {
        justify-content: center;

    }
}

.form__btns {
    @include tablets {
        display: flex;
        justify-content: center;
    }

    @include phones {
        padding-left: rem(36px);
    }
}

.radio {
    display: flex;
    cursor: pointer;
    user-select: none;
    margin-right: rem(16px);

    &-checkbox {
        .radio__visible {
            border-radius: 0;

            &:before {
                background: url(../img/checkbox-icon.png) center center no-repeat;
            }
        }
    }
}

.radio__elem {
    display: none;

    &:checked ~ .radio__visible {
        &:before {
            display: block;
        }
    }
}

.radio__visible {
    width: rem(24px);
    height: rem(24px);
    position: relative;
    border-radius: 50%;
    background: #fff;
    margin-right: rem(10px);

    &:before {
        display: none;
        content: '';
        height: rem(14px);
        width: rem(14px);
        background: #E01F3D;
        border-radius: 50%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}