.team__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

.team__content-title {
    margin-bottom: rem(53px);

    @include tablets {
        margin-bottom: rem(32px);
    }
}

.team__list {
    display: flex;

    @include tablets {
        flex-direction: column;
        align-items: center;
    }
}

.team__item {
    margin-right: rem(20px);
    text-align: center;

    &:last-child {
        margin-right: 0;
    }

    @include tablets {
        margin-right: 0;
        max-width: rem(220px);
    }

    &.active {
        @include tablets {
            margin-bottom: rem(13px);
        }
    }
}

.team__member {
    width: rem(220px);
    height: rem(290px);
    margin-bottom: rem(25px);

    @include tablets {
        display: none;
    }
    
    &--mobile {
        display: none;
        
        @include tablets {
            margin-bottom: rem(20px);
            display: block;
        }
    }
}

.team__title {
    font-family: 'Alegreya Sans', sans-serif;
    font-weight: 700;
    font-size: rem(18px);
    line-height: rem(21px);
    background: none;
    border: none;

    &-icon {
        width: rem(8px);
        height: rem(7px);
    }

    @include tablets {
        font-size: rem(21px);
        line-height: rem(25px);
    }
}

.team__desc {
    overflow: hidden;
    height: 0;
    padding-top: rem(14px);
}

.team__desc-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.team__desc-title {
    color: #000;

    @include tablets {
        font-weight: 700;
        font-size: rem(18px);
        margin-bottom: rem(5px);
    }
}

.team__desc-text {
    color: $grey;
}
