html, body {
    height: 100%;
    font-size: $baseFontSize;

    @include tablets {
        // font-size: $baseFontSize - 1px;
    }

    @include phones {
        // font-size: $baseFontSize - 2px;
        font-size: 3.33333vmin;
    }
}

body {
    font-family: 'Play', sans-serif;
    line-height: 1.42;
    position: relative;
    color: $light-black;
}

.wrapper {
    position: relative;
    width: 100%;
    // min-width: rem($containerWidth) + rem(20px);
    min-height: 100%;
    overflow: hidden;
}

.container {
    width: 95%;
    max-width: $containerWidth;
    margin: 0 auto;
    position: relative;
}

.section {
    height: 100vh;
    min-height: rem(650px);

    @include phones {
        min-height: auto;
    }
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-weight: normal;
}

table {
    border-collapse: collapse;
}

ul {
    padding: 0;
    margin: 0;

    li {
        list-style: none;
    }
}

p {
    padding: 0;
    margin: 0;
}

footer {
    position: relative;
    width: 100%;
}

* {
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
    white-space: nowrap;
}

img {
    display: block;
    max-width: 100%;
}