$containerWidth: 940px;
$baseFontSize: 16px;
$white: #F5F5F5;
$grey: #666666;
$black: #000;
$light-black: #292929;
$red: #E01F3D;

$tablets: 768px;
$phones: 480px;

@mixin tablets {
    @media screen and (max-width: $tablets) {
        @content;
    }
}

@mixin phones {
    @media screen and (max-width: $phones) {
        @content;
    }
}

@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@400;700&family=Play:wght@400;700&display=swap');
@import 'elements/normalize';
@import 'media';
@import 'layout';
@import 'elements/overlay';
@import 'elements/hero';
@import 'elements/header';
@import 'elements/markers';
@import 'elements/btn';
@import 'elements/content';
@import 'elements/advantages';
@import 'elements/products';
@import 'elements/interactive-menu';
@import 'elements/team';
@import 'elements/colors';
@import 'elements/reviews';
@import 'elements/interactive-avatar';
@import 'elements/player';
@import 'elements/form';
@import 'elements/delivery';
@import 'elements/fixed-menu';
@import 'elements/hamburger';
@import 'elements/map';
@import 'elements/footer';
@import 'elements/modal';