.delivery {
    color:#fff;
    background: url(../img/form-background.png) center bottom/100% no-repeat #181818;
}

.delivery__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    padding-top: rem(24px);
    padding-bottom: rem(50px);
}

.delivery__content-title {
    margin-bottom: rem(57px);

    @include tablets {
        margin-bottom: rem(23px);
    }

    @include phones {
        margin-bottom: rem(41px);
    }
}