.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: rem(20px) 0;
    background: #fff;
}

.footer__container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include phones {
        flex-direction: column;
    }
}

.contacts {
    @include phones {
    display: flex;
    flex-direction: column;
    align-items: center;
    }
}

.contacts__place {
    font-style: normal;
    font-size: rem(18px);
    color: #000;

    @include tablets {
        font-size: rem(21px);
        line-height: rem(24px);
    }

    @include phones {
        margin-bottom: rem(12px);
        font-size: rem(18px);
    }
}

.footer__contacts-phone {
    @include tablets {
        color: $red;
    }

    @include phones {
        color: $light-black;
        margin-bottom: 19px;
        font-size: rem(16px);
    }
}

.socials {
    display: flex;
    transform: translateX(20px);

    @include tablets {
        transform: translateX(-34px);
    }

    @include phones {
        transform: translateX(0);
    }
}

.social__item {
    margin-right: rem(10px);

    &:last-child {
        margin-right: 0;
    }
}

.social__image {
    width: rem(30px);
    height: rem(30px);

    @include phones {
        width: rem(24px);
        height: rem(24px);
    }
}

