.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: rem(25px);

    @include tablets {
        padding-right: 0;
    }
}

.nav__header {
    margin: 0 20px;

    @include tablets {
        display: none;
    }
}

.nav__list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}

.nav__item {
    margin-right: rem(27px);

    &:last-child {
        margin-right: 0;
    }
}

.nav__link {
    font-size: rem(18px);
    font-family: 'Alegreya Sans', sans-serif;
}

.contacts-phone {
    font-size: rem(18px);
    font-style: normal;

    &:before {
        content: url(../img/phone_icon.svg);
        margin-right: rem(7px);
        height: rem(14px);
        width: rem(14px);
    }
}

.header__contacts-phone {
    @include tablets {
        display: none;
    }
}