.interactive-menu__wrapper {
    display: inline-block;
    width: rem(91px);
    height: rem(91px);
    position: relative;
    background: #9A9A9A;
    border-radius: 4px;
    margin-bottom: rem(20px);

    @include tablets {
        display: none;
    }
}

.interactive-menu__icon {
    position: absolute;
    transform: translate(50%, 50%);
    width: rem(45px);
    height: rem(44px);

    @include tablets {
        display: none;
    }
}

.dropdown {
    &:hover .dropdown__menu {
    display: block;
    }
}


.dropdown__menu {
    display: none;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 5px;
    box-shadow: 4px 4px 40px rgba(0, 0, 0, 0.06);
    backdrop-filter: blur(20px);
    border-radius: 4px;
    right: -250px;
    position: absolute;
    width: rem(250px);
    color: #000;
    line-height: rem(24px);
    padding: rem(28px) rem(30px);

    &:before {
        content: "";
        display: block;
        height: 288px;
        left: -26px;
        right: 0;
        top: 0px;
        position: absolute;
    }
}

.dropdown__item {
    margin-bottom: rem(28px);

    &:last-child {
        margin-bottom: 0;
    }
}
    
.dropdown__wrapper {
    display: flex;
    // justify-content: space-between;
}
    
.dropdown__icon {
    width: rem(24px);
    height: rem(24px);
    margin-right: rem(16px);
}

.dropdown__text {
    margin-right: rem(20px);
}

.dropdown__desc {
    margin-left: auto;
}