.modal {
    display: none;
}

.fancybox__content {
    padding: 0 !important;
}

.carousel__button {
    display: none;
}

.modal__container {
    background: #fff;
    padding: rem(37px) rem(55px);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modal__content {
    margin-bottom: rem(39px);
    font-size: rem(18px);
    line-height: rem(24px);
    color: #000;

    &--error {
        color: red;
    }
}