.btn {
    text-transform: uppercase;
    padding: rem(21px) rem(40px);
    border: rem(1px) solid;
    border-radius: rem(30px);
    font-weight: 700;
    border: none;

    &-red {
        background: $red;
        color: #fff;

        &:hover {
            background: #CA1B36;
            transition-duration: 0.5s;
        }
    }

    &-transparent {
        background: transparent;
        text-transform: none;
        font-size: rem(16px);
        font-weight: 400;
        color: #fff;

        &:hover {
            color: $red;
        }
    }

    &-special {
        @include phones {
            font-size: rem(19px);
        }
    }
}